/* .myCustomCarousel{
    border: 2px solid red !important;
   
} */
.carouselItem{
    height: 500px;
    overflow: visible;
    
 }
 .carouselItem h3{
    opacity: 100%;
 }
 .carouselItem img{
    opacity: 40%;
    transition: opacity 0s ease-in-out;
 }

 .activeSlide img{
    transform: scale(1.1);
    transition: transform 1s ease-out;
    opacity: 100%;
    /* transition: opacity 0s ease-in-out;   */
 }
.activeSlide{
    /* border: 2px solid rgb(203, 212, 17); */
    overflow: visible;
    height: 100%;
}

.customprevarrow,
.customnextarrow {
    width: 45px;
    height: 35px;
    position: absolute;
    bottom: 0;
    transform: translateY(-50%);
    background-color:#ddd; 
    color: black;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    border-radius: 25px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customprevarrow {
  right: 30px;
}

.customnextarrow {
  right: 100px;
}

.slick-dots {
  bottom: 10px;
  z-index: 1; /* Keep dots above the slides */
}

@media (max-width:667px) {
  .customnextarrow{
    right: 65px;
  }
  .customprevarrow{
    right: 10px;
  }
  .customnextarrow , .customprevarrow{
    bottom: -35px;
  }
}